<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="x-UA-Compatible" content="IE=edge" />

  <title>Basic Formal Ontology</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/icon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!--BoxIcons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!--Carusel imports-->
  <script type="text/javascript" src="../assets/js/mdb.min.js"></script>
  

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- data tables-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
  var dataSet = [[['Misagh Zahiri Esfahani', ' Maryam Ahmadi', ' Iman Adibi'],
  'Ontology for Symptomatic Treatment of Multiple Sclerosis',
  '2022',
  'The Korean Society of Medical Informatics (KAMJE)',
  'https://www.scilit.net/article/215cb5473fb6cc2ded368aa7b6355a8a'],
 [['Michael Cullen Halvorson', '  Noah Moyers', '  I. Dale Thomas'],
  'An Ontology for Prognostic Health Management in Spacecraft Avionics',
  '2022',
  'PHM Society',
  'https://www.scilit.net/article/314d6e5d1352ca462a6339636ccebdc4'],
 [['Yongqun He',
   ' Hong Yu',
   '  Anthony Huffman',
   '  Asiyah Yu Lin',
   '  Darren A. Natale',
   '  John Beverley',
   '  Ling Zheng',
   '  Yehoshua Perl',
   '  Zhigang Wang',
   '  Yingtong Liu',
   '  et al.'],
  'A comprehensive update on CIDO: the community-based coronavirus infectious disease ontology',
  '2022',
  'Springer Nature',
  'https://www.scilit.net/article/40ec7cf9b7afc4ebe0a8945f4fa545a4'],
 [['Lidiia Vlasenko',
   ' Nataliia Lutska',
   ' Nataliia Zaiets',
   ' Igor Korobiichuk',
   ' Serhii Hrybkov'],
  'Core Ontology for Describing Production Equipment According to Intelligent Production',
  '2022',
  'MDPI',
  'https://www.scilit.net/article/b5f3dee397d2dc448fa93dfaa99384d7'],
 [['Patricia Romao',
   '  Stefanie Neuenschwander',
   '  Chantal Zbinden',
   '  Kathleen Seidel',
   ' Murat Sariyar'],
  'Ontology and tool development for documenting intraoperative monitoring in neurosurgery',
  '2022',
  'Research Square',
  'https://www.scilit.net/article/d755235dc02656a7dedb5f417c3cbef0'],
 [['Sachiko Lim', ' Paul Johansson'],
  'An ontology to bridge the clinical management of patients and public health responses: a framework for strengthening infectious disease surveillance (Preprint)',
  '2022',
  'JMIR Publications',
  'https://www.scilit.net/article/929714bf8cf62fa3e5a2d9f6df6e9446'],
 [['Edward Louis',
   '  Ryan Colletti',
   '  Mohammad Hussain',
   '  Gregory Mocko',
   '  Chris Paredis'],
  'Developing Domain Ontologies and an Integration Ontology to Support Modeling and Simulation of Next-Generation Ground Vehicle Systems',
  '2022',
  'SAE International',
  'https://www.scilit.net/article/fc5a95a56fee6063c94029a9e7e06766'],
 [['Farhad Ameri', ' Evan Wallace', '  Reid Yoder', ' Frank Riddick'],
  'Enabling Traceability in Agri-Food Supply Chains Using an Ontological Approach',
  '2022',
  'ASME International',
  'https://www.scilit.net/article/7cb2070a23752f1323de191e4795210c'],
 [['J. Neil Otte', '  John Beverley', '  Alan Ruttenberg'],
  'BFO: Basic Formal Ontology1',
  '2022',
  'IOS Press',
  'https://www.scilit.net/article/d37b8f1d69d7a3ea2113385bad0c9587'],
 [['Meng Liu',
   '  Jialin Liu',
   '  Guitian Liu',
   '  Hui Wang',
   '  Xiaoli Wang',
   ' Zixin Deng',
   ' Yongqun He',
   ' Hong-Yu Ou'],
  'ICEO, a biological ontology for representing and analyzing bacterial integrative and conjugative elements',
  '2022',
  'Springer Nature',
  'https://www.scilit.net/article/3f2b1e6ce231a7fb5bfcbab431154866'],
 [['Astghik Sargsyan',
   ' Philipp Wegner',
   ' Stephan Gebel',
   ' Shounak Baksi',
   '  Geena Mariya Jose',
   ' Vanessa Lange-Rupprecht',
   '  Johannes Darms',
   ' Bruce Schultz',
   '  Jürgen Klein',
   ' Marc Jacobs',
   '  et al.'],
  'The Epilepsy Ontology: a community-based ontology tailored for semantic interoperability and text-mining',
  '2022',
  'Research Square',
  'https://www.scilit.net/article/4affc92a99ee4fe01d34f3ffc91e65e0'],
 [['Stefanie Neuenschwander',
   '  Patricia Romao',
   '  Jürgen Holm',
   '  Murat Sariyar'],
  'Developing an Ontology for Documenting Adverse Events While Avoiding Pitfalls',
  '2022',
  'IOS Press',
  'https://www.scilit.net/article/150e369b11841d98e441ff0f6b4ce5b0'],
 [['Fumiaki Toyoshima',
   '  Adrien Barton',
   '  Ludger Jansen',
   '  Jean-François Ethier'],
  'Towards a Unified Dispositional Framework for Realizable Entities',
  '2021',
  'IOS Press',
  'https://www.scilit.net/article/21893cf30bf4b285cd8ad33a6183fa92'],
 [['Caterina Pietra', ' Roberto De Lotto', ' Rakan Bahshwan'],
  'Approaching Healthy City Ontology: First-Level Classes Definition Using BFO',
  '2021',
  'MDPI',
  'https://www.scilit.net/article/7a5eeb5ba941f9c9bea861d1bfb2dc6e'],
 [['Fernando Cicconeto',
   '  Lucas Valadares Vieira',
   '  Mara Abel',
   ' Renata Dos Santos Alvarenga',
   ' Joel Luis Carbonera',
   '  Luan Fonseca Garcia'],
  'GeoReservoir: An ontology for deep-marine depositional system geometry description',
  '2021',
  'Elsevier BV',
  'https://www.scilit.net/article/d95d88fe94f277a19be07f2dcfaaa36f'],
 [['Juan José Montero Jiménez',
   '  Rob Vingerhoeds',
   '  Bernard Grabot',
   '  Sébastien Schwartz'],
  'An ontology model for maintenance strategy selection and assessment',
  '2021',
  'Springer Nature',
  'https://www.scilit.net/article/8d07782885717b0c8b9ff4262730bccf'],
 [['Justine Flore Tchouanguem',
   '  Mohamed Hedi Karray',
   '  Bernard Kamsu Foguem',
   '  Camille Magniont',
   '  F. Henry Abanda',
   '  Barry Smith'],
  'BFO-based ontology enhancement to promote interoperability in BIM',
  '2021',
  'IOS Press',
  'https://www.scilit.net/article/a43805d1abcc904f27bb81bfe9326da4'],
 [['Linda Elmhadhbi',
   ' Mohamed-Hedi Karray',
   ' Bernard Archimède',
   ' J. Neil Otte',
   ' Barry Smith'],
  'An Ontological Approach to Enhancing Information Sharing in Disaster Response',
  '2021',
  'MDPI',
  'https://www.scilit.net/article/67158be10b7d542dee70dba5657cb687'],
 [['Rosario Davide D’Amico', '  Pavan Addepalli', '  John Ahmet Erkoyuncu'],
  'Is a Top Level Ontology Based Digital Twin the Solution to Human-Machine Interoperability?',
  '2021',
  'Elsevier BV',
  'https://www.scilit.net/article/9b1946dc3af0246d57a9cd6047114247'],
 [['Yan Zhu',
   '  Lihong Liu',
   '  Bo Gao',
   '  Jing Liu',
   '  Xingchao Qiao',
   ' Chaojie Lian',
   ' Yongqun He'],
  'TCDO: A Community-Based Ontology for Integrative Representation and Analysis of Traditional Chinese Drugs and Their Properties',
  '2021',
  'Hindawi Limited',
  'https://www.scilit.net/article/1fd710095ce580a8e7f8cb33aa35c7ab'],
 [[' Ling Wan',
   '   Justin Song',
   '  Virginia He',
   '  Jennifer Roman',
   '  Grace Whah',
   '  Suyuan Peng',
   '  Luxia Zhang',
   ' Yongqun He'],
  'Development of the International Classification of Diseases Ontology (ICDO) and its application for COVID-19 diagnostic data analysis',
  '2021',
  'Springer Nature',
  'https://www.scilit.net/article/76dfdf7a44c5ab041525f422d68a8c88'],
 [['Saoussen Dimassi',
   ' Frédéric Demoly',
   '  Christophe Cruz',
   '  H. Jerry Qi',
   '  Kyoung-Yun Kim',
   '  Jean-Claude André',
   ' Samuel Gomes'],
  'An ontology-based framework to formalize and represent 4D printing knowledge in design',
  '2021',
  'Elsevier BV',
  'https://www.scilit.net/article/c77b3ff516893a97e2e8dd84f18161d9'],
 [['Nora Shoaip',
   ' Amira Rezk',
   '  Shaker El-Sappagh',
   ' Louai Alarabi',
   '  Sherif Barakat',
   ' Mohammed M. Elmogy'],
  'A Comprehensive Fuzzy Ontology-Based Decision Support System for Alzheimer’s Disease Diagnosis',
  '2020',
  'Institute of Electrical and Electronics Engineers (IEEE)',
  'https://www.scilit.net/article/5620ad75768a16af49f0af16018d25c4'],
 [['M. N. Roelofs', '  Roelof Vos'],
  'Automatically inferring technology compatibility with an ontology and graph rewriting rules',
  '2020',
  'Informa UK Limited',
  'https://www.scilit.net/article/cbd4a9e587c1050226acfff5904084e5'],
 [['Janna Hastings', ' Sharon Cox', ' Robert West', ' Caitlin Notley'],
  'Addiction Ontology: Applying Basic Formal Ontology in the Addiction domain',
  '2020',
  'Qeios Ltd',
  'https://www.scilit.net/article/4b9ccfe078cc740cb520e3fae579fbc3'],
 [['Jorge Lázaro', '  Hazel Barahona Gamboa', '  Gerardo Sierra Martínez'],
  'Costa Rica Central Valley gastronomic lexicon structuring from an ontological arrangement',
  '2020',
  'Universidade Federal de Santa Catarina (UFSC)',
  'https://www.scilit.net/article/e9dbd4f3b68c90a4fa670332c0109b73'],
 [['Munira Mohd Ali',
   '  Ruoyu Yang',
   '  Binbin Zhang',
   '  Francesco Furini',
   ' Rahul Rai',
   '  J. Neil Otte',
   '  Barry Smith'],
  'Enriching the functionally graded materials (FGM) ontology for digital manufacturing',
  '2020',
  'Informa UK Limited',
  'https://www.scilit.net/article/d2a016e03c9b48024a58be0208dfdbc5'],
 [['Felipe Carvalho Pellison',
   ' Rui Pedro Charters Lopes Rijo',
   ' Vinicius Costa Lima',
   ' Nathalia Yukie Crepaldi',
   ' Filipe Andrade Bernardi',
   ' Rafael Mello Galliez',
   ' Afrânio Kritski',
   ' Kumar Abhishek',
   ' Domingos Alves'],
  'Data Integration in the Brazilian Public Health System for Tuberculosis: Use of the Semantic Web to Establish Interoperability',
  '2020',
  'JMIR Publications',
  'https://www.scilit.net/article/bb9a9ff350d61223a0dd7d5d8266de93'],
 [['Adolfo Americano Brandão', '  Geilson Loureiro'],
  'AN OVERVIEW OF THE BFO - BASIC FORMAL ONTOLOGY - AND ITS APPLICABILITY FOR SATELLITE SYSTEMS',
  '2020',
  'Atena Editora',
  'https://www.scilit.net/article/9fbb6a8cc540836cf0757eba35e824b8'],
 [['Balanand Jha',
   ' Kumar Abhishek',
   '  Akshay Deepak',
   '  Shubhnkar Upadhyay',
   '  Avadhesh Singh'],
  'Ontology Based Clinical Decision Support System for Geriatrics',
  '2020',
  'American Scientific Publishers',
  'https://www.scilit.net/article/69be31c4637aa9c0a05329e6be31afef'],
 [['Yongqun He',
   ' Haihe Wang',
   ' Jie Zheng',
   ' Daniel P. Beiting',
   ' Anna Maria Masci',
   ' Hong Yu',
   ' Kaiyong Liu',
   ' Jianmin Wu',
   ' Jeffrey L. Curtis',
   ' Barry Smith',
   '  et al.'],
  'OHMI: the ontology of host-microbiome interactions',
  '2019',
  'Springer Nature',
  'https://www.scilit.net/article/73a99726a250476e8df7e5ff25f2a403'],
 [['Felipe Carvalho Pellison',
   ' Rui Pedro Charters Lopes Rijo',
   ' Vinicius Costa Lima',
   ' Nathalia Yukie Crepaldi',
   ' Filipe Andrade Bernardi',
   ' Rafael Mello Galliez',
   ' Afrânio Kritski',
   ' Kumar Abhishek',
   ' Domingos Alves'],
  'Data Integration in the Brazilian Public Health System for Tuberculosis: Use of the Semantic Web to Establish Interoperability (Preprint)',
  '2019',
  'JMIR Publications',
  'https://www.scilit.net/article/52d340c5b1451583e9b4d22295ef8835'],
 [['Andrew Iliadis'],
  'The Tower of Babel problem: making data make sense with Basic Formal Ontology',
  '2019',
  'Emerald',
  'https://www.scilit.net/article/d75f486932727cebaee2779908f66704'],
 [['Aaron Sterling'],
  'Ontology of Card Sleights',
  '2019',
  'Institute for Semantic Computing Foundation',
  'https://www.scilit.net/article/b2c6890b20c295a5ae1f45a1e348ee50'],
 [['Hyunmin Cheong', '  Adrian Butscher'],
  'Physics-based simulation ontology: an ontology to support modelling and reuse of data for physics-based simulation',
  '2019',
  'Informa UK Limited',
  'https://www.scilit.net/article/7011c375adea504da09e523b656a0117'],
 [['Richard de Rozario'],
  'Matching a Trope Ontology to the Basic Formal Ontology',
  '2019',
  'MDPI',
  'https://www.scilit.net/article/02c8f8a8194121a299f24c8c0dcd64b1'],
 [['Stanley Blum',
   ' Katharine Barker',
   ' Steven J Baskauf',
   ' Walter G. Berendsohn',
   ' Pier Luigi Buttigieg',
   ' Markus Döring',
   '  Gabriele Droege',
   ' David Fichtmueller',
   ' Falko Glöckler',
   ' Anton Güntsch',
   '  et al.'],
  'Integrating ABCD and DarwinCore: Toward a better foundation for biodiversity information standards',
  '2019',
  'Pensoft Publishers',
  'https://www.scilit.net/article/f4e5070bb206b0debfad30a002593bdb'],
 [['Thomas J. Hagedorn',
   '  Barry Smith',
   '  Sundar Krishnamurty',
   '  Ian Grosse'],
  'Interoperability of disparate engineering domain ontologies using basic formal ontology',
  '2019',
  'Informa UK Limited',
  'https://www.scilit.net/article/03d135332fbb43e42f55768011d90eca'],
 [['Douglas Orellana', '  William Mandrick'],
  'The Ontology of Systems Engineering: Towards a Computational Digital Engineering Semantic Framework',
  '2019',
  'Elsevier BV',
  'https://www.scilit.net/article/d82ede247d61fe49802509d912dd9849'],
 [['Barry Smith'],
  'Drawing Boundaries',
  '2019',
  'Springer Nature',
  'https://www.scilit.net/article/e3f3113e62ed12c3eda9b3ccc47c3d84'],
 [['Shaker El-Sappagh',
   '  Farman Ali',
   '  AbdelTawab Hendawi',
   '  Jun-Hyeog Jang',
   ' Kyung-Sup Kwak'],
  'A mobile health monitoring-and-treatment system based on integration of the SSN sensor ontology and the HL7 FHIR standard',
  '2019',
  'Springer Nature',
  'https://www.scilit.net/article/80c4afc1b5905d25251586e9b7b6b60b'],
 [['Linda Elmhadhbi', '  Mohamed-Hedi Karray', '  Bernard Archimède'],
  'Toward the Use of Upper-Level Ontologies for Semantically Interoperable Systems: An Emergency Management Use Case',
  '2019',
  'Springer Nature',
  'https://www.scilit.net/article/0a2f607299869e4727b55540052471c0'],
 [['Jobst Landgrebe', '  Barry Smith'],
  'Making AI meaningful again',
  '2019',
  'Springer Nature',
  'https://www.scilit.net/article/a4c017863be54c5cb4f4ffbef0ccee8b'],
 [['Andrew Iliadis'],
  'The Tower of Babel Problem: Making Data Make Sense with Basic Formal Ontology',
  '2019',
  'Elsevier BV',
  'https://www.scilit.net/article/7c920b87f27161f246cf8d32f3bdccb7'],
 [['Lars Vogt'],
  'Levels and building blocks—toward a domain granularity framework for the life sciences',
  '2019',
  'Springer Nature',
  'https://www.scilit.net/article/b2feef9519fbc5b10e657d1d06279da7'],
 [['Arkopaul Sarkar', ' Dušan Šormaz'],
  'Ontology Model for Process Level Capabilities of Manufacturing Resources',
  '2019',
  'Elsevier BV',
  'https://www.scilit.net/article/0672d74e3191d7906b826298a82debce'],
 [['Arkopaul Sarkar', ' Dušan Šormaz'],
  'On Semantic Interoperability of Model-based Definition of Product Design',
  '2019',
  'Elsevier BV',
  'https://www.scilit.net/article/9e39ddc8e4199f40dcc3c53fc5e60199'],
 [['Aaron Sterling'],
  'Ontology of Card Sleights',
  '2019',
  'Institute of Electrical and Electronics Engineers (IEEE)',
  'https://www.scilit.net/article/c239e4c05103aac6d38ce4523faa7d7d'],
 [['Linda Elmhadhbi', ' Mohamed-Hedi Karray', '  Bernard Archimède'],
  'An Ontology-based Emergency Response System for Interoperability in a Crisis Situation in Smart Cities',
  '2018',
  'Wiley-Blackwell',
  'https://www.scilit.net/article/f6e6eb763586d0b1f141282965a5e864'],
 [['Qing Zou', '  Eun G. Park'],
  'Linking historical collections in an event-based ontology',
  '2018',
  'Emerald',
  'https://www.scilit.net/article/1d145eb52dd5993930fe6caad0ac23c9'],
 [['Robert Stevens', ' Phillip Lord', ' James Malone', ' Nicolas Matentzoglu'],
  'Measuring Expert Performance at Manually Classifying Domain Entities under Upper Ontology Classes',
  '2018',
  'None',
  'https://www.scilit.net/article/2248345d4f93e5e00ecdcf1a84fdf252'],
 [['Shaker H. Ali El-Sappagh',
   ' Francesco Franda',
   ' Farman Ali',
   ' Kyung-Sup Kwak'],
  'SNOMED CT standard ontology based on the ontology for general medical science',
  '2018',
  'Springer Nature',
  'https://www.scilit.net/article/902934d4d1000d5c3fae9697a63d0f0f'],
 [['Maroua Masmoudi',
   '  Sana Ben Abdallah Ben Lamine',
   '  Hajer Baazaoui Zghal',
   '  Mohamed Hedi Karray',
   '  Bernard Archimede'],
  'An ontology-based monitoring system for multi-source environmental observations',
  '2018',
  'Elsevier BV',
  'https://www.scilit.net/article/73e55439db955c3d779ba31c7c5e57b4'],
 [['David Stuart'],
  'Existing ontologies',
  '2018',
  'Facet',
  'https://www.scilit.net/article/3fcf7919b7d614c954bd343c72ff7c41'],
 [['Brian Donohue',
   '  Ronald Rudnicki',
   '  Mark Jensen',
   '  Alexander P. Cox'],
  'A common core-based cyber ontology in support of cross-domain situational awareness',
  '2018',
  'SPIE',
  'https://www.scilit.net/article/25a73b1693af26093b1cb78b42897545'],
 [['James C Schuler', '  Werner M Ceusters'],
  'The Problems of Realism-Based Ontology Design: a Case Study in Creating Definitions for an Application Ontology for Diabetes Camps.',
  '2018',
  'None',
  'https://www.scilit.net/article/a6e5fb32c31815261cc26ff0ed39884d'],
 [['Ricardo C. Waldemarin', ' Cléver R.G. de Farias'],
  'OBO to UML: Support for the development of conceptual models in the biomedical domain',
  '2018',
  'Elsevier BV',
  'https://www.scilit.net/article/282767d25dc1884c93bf133955a4a12c'],
 [['Ludger Jansen'],
  'Functions, Malfunctioning, and Negative Causation',
  '2018',
  'Springer Nature',
  'https://www.scilit.net/article/0b46511cdce0c51ea501b4301d77d49c'],
 [['Shaker El-Sappagh', ' Daehan Kwak', ' Farman Ali', ' Kyung-Sup Kwak'],
  'DMTO: a realistic ontology for standard diabetes mellitus treatment',
  '2018',
  'Springer Nature',
  'https://www.scilit.net/article/2b88a3c771d251964836a68ec4dc6806'],
 [['Robert Stevens',
   '  Phillip Lord',
   '  James Malone',
   ' Nicolas Matentzoglu'],
  'Measuring Expert Performance at Manually Classifying Domain Entities Under Upper Ontology Classes',
  '2018',
  'Elsevier BV',
  'https://www.scilit.net/article/c5eefa940b7c9c12ded5f2e6e7e3d08e'],
 [['Ana Correia',
   '  Dragan Stokic',
   '  Rebecca Siafaka',
   ' Sebastian Scholze'],
  'Ontology for colaborative development of product service systems based on basic formal ontology',
  '2017',
  'Institute of Electrical and Electronics Engineers (IEEE)',
  'https://www.scilit.net/article/b48adb0aff3d71b513d1183f0113cd41'],
 [['Lars Vogt'],
  'Levels and building blocks—towards a domain granularity framework for the life sciences',
  '2017',
  'PeerJ Inc.',
  'https://www.scilit.net/article/0107c0a7370deeb96089bfb379b16f6f'],
 [['José M Parente de Oliveira', ' Barry Smith'],
  'A Visual Representation of Part-Whole Relationships in BFO-Conformant Ontologies',
  '2017',
  'Springer Nature',
  'https://www.scilit.net/article/e8e05d18a506ecd4ca34d42ff3f94471'],
 [['Adrien Barton',
   ' Jean-François Ethier',
   ' Régis Duvauferrier',
   ' Anita Burgun'],
  'An ontological analysis of medical Bayesian indicators of performance',
  '2017',
  'Springer Nature',
  'https://www.scilit.net/article/acb400aad6fc2edae7da3e3207b6d20b'],
 [['Stefan Schulz', '  Martin Boeker', '  Catalina Martinez-Costa'],
  'The BioTop Family of Upper Level Ontological Resources for Biomedicine.',
  '2017',
  'None',
  'https://www.scilit.net/article/6ab61ceb5081b63d2f176b289294d23a'],
 [['Robert B. Allen'],
  'Issues for the Direct Representation of History',
  '2016',
  '10.1007',
  'https://www.scilit.net/article/f73d38a365f6ee3eaf1b8598010100a2'],
 [['Satoshi Mizuno',
   ' Soichi Ogishima',
   '  Hidekazu Nishigori',
   '  Daniel G. Jamieson',
   '  Karin Verspoor',
   '  Hiroshi Tanaka',
   '  Nobuo Yaegashi',
   '  Jun Nakaya'],
  'The Pre-Eclampsia Ontology: A Disease Ontology Representing the Domain Knowledge Specific to Pre-Eclampsia',
  '2016',
  'Public Library of Science (PLoS)',
  'https://www.scilit.net/article/cc4944c557e427a1d543b1751e1cb7b2'],
 [['Robert B. Allen'],
  'From Ontology to Structured Applied Epistemology',
  '2016',
  'None',
  'https://www.scilit.net/article/227d3c7a5ec2def56f0332e440bd8769'],
 [['Jie Zheng',
   ' Marcelline R. Harris',
   ' Anna Maria Masci',
   ' Yu Lin',
   ' Alfred Hero',
   ' Barry Smith',
   ' Yongqun He'],
  'The Ontology of Biological and Clinical Statistics (OBCS) for standardized and reproducible statistical analysis',
  '2016',
  'Springer Nature',
  'https://www.scilit.net/article/c160cc9c13c3619418fc991848314fcf'],
 [['Kun Zhang', ' Yoshifumi Nishida', ' Koji Kitamura', '  Yoshiki Mikami'],
  '1026 Desing ontology for kids design database',
  '2016',
  'BMJ',
  'https://www.scilit.net/article/1f0a2b928ad06b4cb3cbf1f07e715c0f'],
 [['Shaker El-Sappagh', ' Farman Ali'],
  'DDO: a diabetes mellitus diagnosis ontology',
  '2016',
  'Springer Nature',
  'https://www.scilit.net/article/6250f50cde5fdac975b18a609bb08d3a'],
 [['Francesco Furini',
   '  Rahul Rai',
   ' Barry Smith',
   ' Giorgio Colombo',
   ' Venkat Krovi'],
  'Development of a Manufacturing Ontology for Functionally Graded Materials',
  '2016',
  'ASME International',
  'https://www.scilit.net/article/f941e50a5190b97c01901e7f544dc3a4'],
 [['Yoonmi Chu', '  Robert B. Allen'],
  'Formal Representation of Socio-Legal Roles and Functions for the Description of History',
  '2016',
  'Springer Nature',
  'https://www.scilit.net/article/688ca1ba3ffaee1c30fd321ee6c71b37'],
 [['Amanda Hicks',
   '  Josh Hanna',
   '  Daniel Welch',
   '  Mathias Brochhausen',
   '  William R. Hogan'],
  'The ontology of medically related social entities: recent developments',
  '2016',
  'Springer Nature',
  'https://www.scilit.net/article/c541550274ae29f231a8a62d02b085d9'],
 [['Yoonmi Chu', '  Robert B. Allen'],
  'Structured Descriptions of Roles, Activities, and Procedures in the Roman Constitution',
  '2016',
  'Springer Nature',
  'https://www.scilit.net/article/225d8f241eccd4aa4586400a60440699'],
 [['Andrew D. Spear', ' Werner Ceusters', ' Barry Smith'],
  'Functions in Basic Formal Ontology',
  '2016',
  '10.3233',
  'https://www.scilit.net/article/444a83367bd3bff0041876670d7593e3'],
 [['Patrick L. Ray',
   ' Alexander P. Cox',
   ' Mark Jensen',
   ' Travis Allen',
   ' William Duncan',
   ' Alexander D. Diehl'],
  'Representing vision and blindness.',
  '2016',
  'Springer Nature',
  'https://www.scilit.net/article/d4f1280aecae77cab7b788d4690bfb9f'],
 [['Martin Frické'],
  'Review of Building Ontologies with Basic Formal Ontology. Robert Arp, Barry Smith and Andrew D. Spear. Cambridge: The MIT Press, 2015. 248 pp. $30.00 (Paperback) (ISBN: 9780262527811).',
  '2016',
  'Wiley-Blackwell',
  'https://www.scilit.net/article/7ed379b9be1609b33ef2acf84c3e50b7'],
 [['Jean Marie Rodrigues',
   '  Neelam Dhingra-Kumar',
   '  Stefan Schulz',
   '  Julien Souvignet'],
  'A Patient Safety Information Model for Interoperability.',
  '2016',
  'None',
  'https://www.scilit.net/article/20f64c555d2b342f0a51d4029e3b3f35'],
 [['James D. Smith'],
  'A Human Experience Realist Ontology in Basic Formal Ontology',
  '2016',
  'Wissenschaftliche Verlagsgesellschaft mbH',
  'https://www.scilit.net/article/b99b48d28e2980cf6ffab6d784247b44'],
 [['Selja Seppälä', ' Amanda Hicks'],
  'Enhancing Terminological Knowledge With Upper Level Ontologies',
  '2015',
  'None',
  'https://www.scilit.net/article/6d059d1cadd83a68e6544d44a24a543e'],
 [['Yu Lin', ' Zuoshuang Xiang', ' Yongqun He'],
  'Ontology-based representation and analysis of host-Brucella interactions',
  '2015',
  'Springer Nature',
  'https://www.scilit.net/article/41cab6e9d10bd391ee4687652efff6ab'],
 [['Qing Zou', '  Eun G. Park'],
  'Restructuring cultural heritage collections in the basic formal ontology',
  '2015',
  'Institute of Electrical and Electronics Engineers (IEEE)',
  'https://www.scilit.net/article/cefa6a2b06f3738cc9ef3ea38a3ca982'],
 [['Robert Arp', '  Barry Smith', ' Andrew D. Spear'],
  'Introduction to Basic Formal Ontology II: Occurrents',
  '2015',
  'MIT Press - Journals',
  'https://www.scilit.net/article/01f0d4e37ee2b1a9cf2f4d8f459e5cd0'],
 [['Robert Arp', '  Barry Smith', ' Andrew D. Spear'],
  'Introduction to Basic Formal Ontology I: Continuants',
  '2015',
  'MIT Press - Journals',
  'https://www.scilit.net/article/d78fd76ad6396d11f65dfadcc6264c18'],
 [['Robert Arp', '  Barry Smith', ' Andrew D. Spear'],
  'Basic Formal Ontology at Work',
  '2015',
  'MIT Press - Journals',
  'https://www.scilit.net/article/e1bb33c73bac7e133e55a4a00019d0f9'],
 [['Asami Suzuki',
   ' Takako Takai-Igarashi',
   ' Jun Nakaya',
   '  Hiroshi Tanaka'],
  'Development of an Ontology for Periodontitis',
  '2015',
  'Springer Nature',
  'https://www.scilit.net/article/c0b190dcb0e0df73e1d9df884d1452d8'],
 [['Andrej Machno',
   ' Pierre Jannin',
   '  Olivier Dameron',
   '  Werner Korb',
   '  Gerik Scheuermann',
   '  Jürgen Meixensberger'],
  'Ontology for assessment studies of human–computer-interaction in surgery',
  '2015',
  'Elsevier BV',
  'https://www.scilit.net/article/8e571e18b3613e72994a74162ae99d07'],
 [['Robert B. Allen', '  Yoonmi Chu'],
  'Architectures for complex semantic models',
  '2015',
  'Institute of Electrical and Electronics Engineers (IEEE)',
  'https://www.scilit.net/article/871f079563166cbdcfd4a9bf2b1b2cbc'],
 [['Julien Souvignet', '  Jean-Marie Rodrigues'],
  'Toward a patient safety upper level ontology.',
  '2015',
  'None',
  'https://www.scilit.net/article/2ecf09f43d207ef838fde198181760f3'],
 [['Robert Arp', ' Barry Smith', ' Andrew D. Spear'],
  'Building Ontologies with Basic Formal Ontology',
  '2015',
  'MIT Press - Journals',
  'https://www.scilit.net/article/22d40df0be77df9919d5cead97606640'],
 [['V. Curcin',
   '  A. Barton',
   '  M. M. McGilchrist',
   '  H. Bastiaens',
   ' A. Andreasson',
   '  J. Rossiter',
   '  L. Zhao',
   ' T. N. Arvanitis',
   ' A. Taweel',
   ' B. C. Delaney',
   '  et al.'],
  'Clinical Data Integration Model',
  '2015',
  'Georg Thieme Verlag KG',
  'https://www.scilit.net/article/3f7ea7466436702a64a6944740528891'],
 [['Robert Arp', '  Barry Smith', '  Andrew D. Spear'],
  'Introduction to Basic Formal Ontology I: Continuants',
  '2015',
  'MIT Press - Journals',
  'https://www.scilit.net/article/34809945dfecc461303937403078ede6'],
 [[''],
  'Introduction to Basic Formal Ontology II: Occurrents',
  '2015',
  'MIT Press - Journals',
  'https://www.scilit.net/article/2285102937f898633806201a17fbdc33'],
 [['Robert Arp', '  Barry Smith', '  Andrew D. Spear'],
  'Basic Formal Ontology at Work',
  '2015',
  'MIT Press - Journals',
  'https://www.scilit.net/article/592c656c0d58f8e3c83a8045c6a17df2'],
 [['Marcus C Chibucos',
   ' Adrienne E Zweifel',
   ' Jonathan C Herrera',
   ' William Meza',
   ' Shabnam Eslamfam',
   ' Peter Uetz',
   ' Deborah A Siegele',
   ' James C Hu',
   ' Michelle G Giglio'],
  'An ontology for microbial phenotypes',
  '2014',
  'Springer Nature',
  'https://www.scilit.net/article/4d88c29d1198be124161971531731aef'],
 [['Catia Pesquita',
   ' João D Ferreira',
   ' Francisco M Couto',
   ' Mário J Silva'],
  'The epidemiology ontology: an ontology for the semantic annotation of epidemiological resources',
  '2014',
  'Springer Nature',
  'https://www.scilit.net/article/3b97680f88adf48396a75c0fb4668618'],
 [['Erica Marcos', ' Bin Zhao', ' Yongqun He'],
  'The Ontology of Vaccine Adverse Events (OVAE) and its usage in representing and analyzing adverse events associated with US-licensed human vaccines',
  '2013',
  'Springer Nature',
  'https://www.scilit.net/article/964023e9e9fb6f4f9db78ba44a0b0170'],
 [['Yongqun He', '  Zoushuang Xiang'],
  'HINO: a BFO-aligned ontology representing human molecular interactions and pathways',
  '2013',
  'None',
  'https://www.scilit.net/article/0407ba94d24022ba723ec82d3c3664d8'],
 [['Ratnesh Sahay',
   '  Dimitrios Ntalaperas',
   '  Eleni Kamateri',
   '  Panagiotis Hasapis',
   ' Oya Deniz Beyan',
   ' Marie-Pierre F. Strippoli',
   ' Christiana A. Demetriou',
   '  Thomai Gklarou-Stavropoulou',
   '  Matthias Brochhausen',
   '  Konstantinos Tarabanis',
   '  et al.'],
  'An Ontology for Clinical Trial Data Integration',
  '2013',
  'Institute of Electrical and Electronics Engineers (IEEE)',
  'https://www.scilit.net/article/800e1ceda251277a7491f622ac41c1ae'],
 [['Kate Button',
   ' Robert W. van Deursen',
   ' Larisa Soldatova',
   ' Irena Spasić'],
  'TRAK ontology: Defining standard care for the rehabilitation of knee conditions',
  '2013',
  'Elsevier BV',
  'https://www.scilit.net/article/ed180c0590608a2f76c5dd672922fbcb'],
 [['John Deck',
   '  Katharine Barker',
   '  Reed Beaman',
   ' Pier Luigi Buttigieg',
   '  Gabriele Dröge',
   '  Robert Guralnick',
   '  Chuck Miller',
   '  Éamonn Ó Tuama',
   '  Zack Murrell',
   ' Cynthia Parr',
   '  et al.'],
  'Clarifying Concepts and Terms in Biodiversity Informatics',
  '2013',
  'Springer Nature',
  'https://www.scilit.net/article/38a10b69a722fbb2c5ddcfa56fdfc3be'],
 [['Richard Okelo Angole', '  Peter Jehopio', ' Gilbert Maiga'],
  'Ontology model: Towards bridging the gap between African traditional medicine and conventional medicine',
  '2013',
  '10.3233',
  'https://www.scilit.net/article/7cfe3ce5db4bead7d54a49bd0ae0ef03'],
 [['Barry Smith'],
  'Classifying Processes: An Essay in Applied Ontology',
  '2013',
  'Wiley-Blackwell',
  'https://www.scilit.net/article/f7d587139d331b825c3935b87508d9b7'],
 [['Lars Vogt', '  Peter Grobe', ' Björn Quast', '  Thomas Bartolomaeus'],
  'Fiat or Bona Fide Boundary—A Matter of Granular Perspective',
  '2012',
  'Public Library of Science (PLoS)',
  'https://www.scilit.net/article/8b384c0a134c35781942188bb25e5600'],
 [['Janna Hastings',
   '  Paula De Matos',
   ' Adriano Dekker',
   ' Marcus Ennis',
   ' Bhavana Harsha',
   ' Namrata Kale',
   ' Venkatesh Muthukrishnan',
   ' Gareth Owen',
   '  Steve Turner',
   '  Mark Williams',
   '  et al.'],
  'The ChEBI reference database and ontology for biologically relevant chemistry: enhancements for 2013',
  '2012',
  'Oxford University Press (OUP)',
  'https://www.scilit.net/article/d7c80a7803c91ec81b37fba5f0343389'],
 [['Alejandra González-Beltrán',
   ' Eamonn Maguire',
   ' Philippe Rocca-Serra',
   ' Susanna-Assunta Sansone'],
  'The open source ISA software suite and its international user community: knowledge management of experimental data',
  '2012',
  'EMBnet Stichting',
  'https://www.scilit.net/article/9944b3bb20d9ba715412a7ceab839ff1'],
 [['Felix Gantner', ' Bettina Waldvogel', '  Rolf Meile', ' Patrick Laube'],
  'The Basic Formal Ontology as a Reference Framework for Modeling the Evolution of Administrative Units',
  '2012',
  'Wiley-Blackwell',
  'https://www.scilit.net/article/ea4a37a30b40d721a66a8af81c8ce14d'],
 [['Barry Smith'],
  'CLASSIFYING PROCESSES: AN ESSAY IN APPLIED ONTOLOGY',
  '2012',
  'Wiley-Blackwell',
  'https://www.scilit.net/article/d7f43edf92ba23b516b7d9d9b3fad1d4'],
 [['Priti P Parikh',
   ' Jie Zheng',
   ' Flora Logan-Klumpler',
   ' Christian J StoeckertJr',
   ' Christos Louis',
   ' Pantelis Topalis',
   ' Anna V Protasio',
   ' Amit P Sheth',
   ' Mark Carrington',
   ' Matthew Berriman',
   '  et al.'],
  'The Ontology for Parasite Lifecycle (OPL): towards a consistent vocabulary of lifecycle stages in parasitic organisms',
  '2012',
  'Springer Nature',
  'https://www.scilit.net/article/2d56d8c953bf804a1d66f8023e7b2684'],
 [['Lars Vogt', '  Peter Grobe', ' Björn Quast', '  Thomas Bartolomaeus'],
  'Accommodating Ontologies to Biological Reality—Top-Level Categories of Cumulative-Constitutively Organized Material Entities',
  '2012',
  'Public Library of Science (PLoS)',
  'https://www.scilit.net/article/fb5bb7a3d80fd3f1554d6da991f96ed3'],
 [['Frank Oemig', ' Bernd Blobel'],
  'An ontological approach to manage and harmonize document types.',
  '2012',
  'None',
  'https://www.scilit.net/article/a3d973ca4c57f1b7414ff247725e048f'],
 [['Jessica A. Turner', ' Angela R. Laird'],
  'The Cognitive Paradigm Ontology: Design and Application',
  '2011',
  'Springer Nature',
  'https://www.scilit.net/article/b3e6b27ac71703106517a28fe8257552'],
 [['Lars Vogt', '  Peter Grobe', ' Björn Quast', '  Thomas Bartolomaeus'],
  'Top-Level Categories of Constitutively Organized Material Entities - Suggestions for a Formal Top-Level Ontology',
  '2011',
  'Public Library of Science (PLoS)',
  'https://www.scilit.net/article/ba869576ee3679a90b70da0f7a21bcfb'],
 [['Y. Megan Kong',
   '  Carl Dahlke',
   '  Qun Xiang',
   '  Yu Qian',
   '  David Karp',
   ' Richard H. Scheuermann'],
  'Toward an ontology-based framework for clinical research databases',
  '2011',
  'Elsevier BV',
  'https://www.scilit.net/article/faa95b146649e96035ea29911e175100'],
 [['Dennis G. Thomas', '  Rohit V. Pappu', ' Nathan A. Baker'],
  'NanoParticle Ontology for cancer nanotechnology research',
  '2011',
  'Elsevier BV',
  'https://www.scilit.net/article/9c0ac23478473fb74f6e798edd1876ee'],
 [['Albert Goldfain', ' Barry Smith', ' Lindsay G. Cowell'],
  'Towards an ontological representation of resistance: The case of MRSA',
  '2011',
  'Elsevier BV',
  'https://www.scilit.net/article/fd63883ac923660dc5cf3da5896b2b28'],
 [['William R. Hogan'],
  'Towards an ontological theory of substance intolerance and hypersensitivity',
  '2011',
  'Elsevier BV',
  'https://www.scilit.net/article/588ecb8ab502c9bf8f3d6c9c92e96476'],
 [['M. Capolupo', '  G. de Moor', '  J. Devlies', ' B. Smith', ' W. Ceusters'],
  'An Evolutionary Approach to Realism-based Adverse Event Representations',
  '2011',
  'Georg Thieme Verlag KG',
  'https://www.scilit.net/article/ba99099456783ab925ff896491335d82'],
 [['Pantelis Topalis',
   ' Elvira Mitraka',
   ' Ioana Bujila',
   ' Elena Deligianni',
   ' Emmanuel Dialynas',
   ' Inga Siden-Kiamos',
   ' Marita Troye-Blomberg',
   ' Christos Louis'],
  'IDOMAL: an ontology for malaria',
  '2010',
  'Springer Nature',
  'https://www.scilit.net/article/b7893c3a66a3af19f9de0808db80c96e'],
 [['Matthias Samwald',
   '  Huajun Chen',
   ' Alan Ruttenberg',
   '  Ernest Lim',
   ' Luis Marenco',
   '  Perry Miller',
   '  Gordon Shepherd',
   '  Kei-Hoi Cheung'],
  'Semantic SenseLab: Implementing the vision of the Semantic Web in neuroscience',
  '2010',
  'Elsevier BV',
  'https://www.scilit.net/article/c01a8d1c18bc8b94115d9f9589f2716f'],
 [['Werner Ceusters', ' Barry Smith'],
  'Foundations for a realist ontology of mental disease',
  '2010',
  'Springer Nature',
  'https://www.scilit.net/article/3d65c0cecc96b555669db136d62f4539'],
 [['Frank Oemig', ' Bernd Blobel'],
  'A communication standards ontology using basic formal ontologies.',
  '2010',
  'None',
  'https://www.scilit.net/article/28edc2150d8e0abaa18dd69574b87192'],
 [['Cui Tao',
   '  Harold R. Solbrig',
   '  Deepak K. Sharma',
   '  Wei-Qi Wei',
   '  Guergana K. Savova',
   '  Christopher G. Chute'],
  'Time-Oriented Question Answering from Clinical Narratives Using Semantic-Web Techniques',
  '2010',
  'Springer Nature',
  'https://www.scilit.net/article/43282dc54c3b0f3d8e00bd841ec2c009'],
 [['Werner Ceusters', '  Barry Smith'],
  'Malaria Diagnosis and the Plasmodium Life Cycle: the BFO Perspective',
  '2009',
  'Springer Nature',
  'https://www.scilit.net/article/8094414bc46a221c47c791cdc57fa726'],
 [['Dennis G. Thomas', '  Rohit V. Pappu', ' Nathan A. Baker'],
  'Ontologies for cancer nanotechnology research',
  '2009',
  'Institute of Electrical and Electronics Engineers (IEEE)',
  'https://www.scilit.net/article/ee28ffce6e1d98b0369906a0374255e9'],
 [['Yongqun He',
   '  Fang Chen',
   ' Richard H. Scheuermann',
   '  Thomas Todd',
   ' Ryan R. Brinkman',
   '  Lesley Colby',
   ' Melanie Courtot',
   '  Howard Rush',
   '  Chris Mungall',
   '  Trish Whetzel',
   '  et al.'],
  'VO: Vaccine Ontology',
  '2009',
  'Springer Nature',
  'https://www.scilit.net/article/3e5e1c5de00fe5dbfb0949118fd18c6c'],
 [['Eric G. Little', '  Galina L. Rogova'],
  'Designing ontologies for higher level fusion',
  '2009',
  'Elsevier BV',
  'https://www.scilit.net/article/2110dfba2c8d2adc6bf52c2e856e76ab'],
 [['Werner Ceusters', '  Maria Capolupo', ' Barry Smith', '  Georges De Moor'],
  'An evolutionary approach to the representation of adverse events.',
  '2009',
  'None',
  'https://www.scilit.net/article/021e6623cb1c4c988815a27319264f27'],
 [['M. Boeker', ' H. Stenzhorn', '  J. Niggemann', ' S. Schulz'],
  'Granularity Issues in the Alignment of Upper Ontologies',
  '2009',
  'Georg Thieme Verlag KG',
  'https://www.scilit.net/article/34bd5274008a641a44175c64bac64653'],
 [['William Hogan'],
  'Aligning the top-level of SNOMED-CT with Basic Formal Ontology',
  '2008',
  'Springer Nature',
  'https://www.scilit.net/article/be3cc69a23ed15fb57795dffe7e34db4'],
 [['Robert Arp', ' Barry Smith'],
  'Function, Role, and Disposition in Basic Formal Ontology',
  '2008',
  'Springer Nature',
  'https://www.scilit.net/article/0aaace962c846d7fe0f781ea726e674d'],
 [['Stefan Schulz', ' Martin Boeker', ' Holger Stenzhorn'],
  'How granularity issues concern biomedical ontology integration.',
  '2008',
  'None',
  'https://www.scilit.net/article/2ce1189ee6999909b271a030d4dc26c8'],
 [['Werner Ceusters', '  Peter Elkin', ' Barry Smith'],
  'Negative findings in electronic health records and biomedical ontologies: A realist approach',
  '2007',
  'Elsevier BV',
  'https://www.scilit.net/article/bba6ed597f50599145794166e9f7e10c'],
 [['Amarnath Gupta',
   ' Stephen D. Larson',
   ' Christopher Condit',
   '  Sandeep Gupta',
   ' Lisa Fong',
   ' Li Chen',
   ' Maryann E. Martone'],
  'Toward an Ontological Database for Subcellular Neuroanatomy',
  '2007',
  'Springer Nature',
  'https://www.scilit.net/article/e00805b4eed0aed8c595c79645d5a697'],
 [['Werner Ceusters', ' Barry Smith'],
  'Referent tracking for treatment optimisation in schizophrenic patients: A case study in applying philosophical ontology to diagnostic algorithms',
  '2006',
  'Elsevier BV',
  'https://www.scilit.net/article/d4a1517f9dd76688108951c112e425f4'],
 [['Jonathan Simon',
   '  Mariana Dos Santos',
   '  James Fielding',
   ' Barry Smith'],
  'Formal ontology for natural language processing and the integration of biomedical databases',
  '2006',
  'Elsevier BV',
  'https://www.scilit.net/article/6d133b2f97ecd96c0761faae4a0d9edb'],
 [['Werner Ceusters', '  Barry Smith'],
  'Referent Tracking for Treatment Optimisation in Schizophrenic Patients',
  '2006',
  'Elsevier BV',
  'https://www.scilit.net/article/149b8ba0d9d60ac42ccc0be40de0937e'],
 [['John Bateman', ' Scott Farrar'],
  'Modelling Models of Robot Navigation Using Formal Spatial Ontology',
  '2005',
  'Springer Nature',
  'https://www.scilit.net/article/8b93914031e2a46c632b1d9d0e090f80'],
 [[''],
  'Applying the Realism-Based Ontology-Versioning Method for Tracking Changes in the Basic Formal Ontology',
  '0 - Date Unknown',
  '10.3233',
  'https://www.scilit.net/article/494f28b052f5a11a6751d6456de50e44'],
 [['Frank Oemig', '  Bernd Blobel'],
  'A Communication Standards Ontology Using Basic Formal Ontologies',
  '0 - Date Unknown',
  '10.3233',
  'https://www.scilit.net/article/3944341356863524d5f63245ca25da9f'],
 [['Felix Gantner', '  Bettina Waldvogel', '  Rolf Meile', '  Patrick Laube'],
  'The basic formal ontology as a reference framework for modeling the evolution of administrative units',
  '0 - Date Unknown',
  '10.5167',
  'https://www.scilit.net/article/7fd7985600a198caa75a3d23951164ce'],
 [['Barry Smith'],
  'The birth of ontology',
  '2022',
  ' Journal of Knowledge Structures and Systems 3 (1):57-66',
  'https://philpapers.org/rec/AUGTBO-2'],
 [['Barry Smith', ' Rita Giuffrida'],
  'Ontocommons in the standardization environment',
  '2022',
  ' OntoCommons',
  'https://philpapers.org/rec/SMIOIT-3'],
 [['Barry Smith'],
  'Ontology as Product-Service System: Lessons Learned from GO, BFO and DOLCE',
  '2019',
  ' In Proceedings of the 10th International Conference on Biomedical Ontology (ICBO), Buffalo, NY',
  'https://philpapers.org/rec/SMIOAP-5'],
 [['Barry Smith',
   ' Farhad Ameri',
   ' Hyunmin Cheong',
   ' Dimitris Kiritsis',
   ' Dusan Sormaz',
   ' Chris Will',
   ' J. Neil Otte'],
  'A First-Order Logic Formalization of the Industrial Ontology Foundry Signature Using Basic Formal Ontology',
  '2019',
  ' In Proceedings of the Joint Ontology Workshops (JOWO), Graz',
  'https://philpapers.org/rec/SMIAFL-3'],
 [['Niels Grewe', ' Ludger Jansen', ' Barry Smith'],
  'Permanent generic relatedness and silent change',
  '2016',
  ' In Formal Ontology and Information Systems CEUR, Vol 1060 pp 1-5',
  'https://philpapers.org/rec/GREPGR'],
 [['Ong Edison: Xiang', ' Zheng Jie', ' Barry Smith', ' He Yongqun'],
  'Ontobull and BFOConvert: Web-based programs to support automatic ontology conversion',
  '2016',
  ' Proceedings of the Joint International Conference on Biological Ontology and Biocreative 1747',
  'https://philpapers.org/rec/ONGOAB'],
 [['Barry Smith', ' Kevin Mulligan'],
  'Framework for formal ontology',
  '1983',
  ' Topoi 2 (1):73-85',
  'https://philpapers.org/rec/SMIFFF']];

  $(document).ready(function () {
  $('#example').DataTable({
      data: dataSet,
      columns: [
          { title: 'Author' },
          { title: 'Title' },
          { title: 'Date' },
          { title: 'Publication' },
          { title: 'Link',
          "render": function(data, type, row, meta){
            if(type === 'display'){
                data = '<a href="' + data + '">' + data + '</a>';
            }

            return data;
         }},
         
      ],
      order: [[2, 'desc']],
      "pageLength": 5,
      lengthMenu: [5, 10, 25, 50, 100, 200],

  });
  });
  


  </script>

  
  <!-- =======================================================
  * Template Name: Lumia - v4.9.1
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="#hero">Basic Formal Ontology</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Tutorials</a></li>
          <li><a class="nav-link scrollto" href="users.html">Users</a></li>
          <li><a class="nav-link scrollto" href = "#whats-new"><span>What's New</span></a></li>
          <li><a href = 'https://github.com/BFO-ontology/BFO-2020'>FOL</a></li>
          <li><a class="nav-link scrollto" href = "#team"><span>Team</span></a></li>
          <li><a href="https://github.com/bfo-ontology/BFO/wiki">Github</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->



    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container">

        <div class="row" style = "width:auto; padding-bottom: 0px;">
            <figure style = "display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 30px;
            padding-right:50px;">
              <img src="../assets/img/bfohierarchy.png" class="img-fluid" alt="bfo hierarchy" style="width:75%;height:320px;">
            </figure>
            <br>
            <h2>About Us</h2>
            <p>
              The Basic Formal Ontology (BFO) is a small, upper level ontology that is designed for use in supporting information retrieval, analysis and integration in scientific and other domains. BFO is a genuine upper ontology. Thus it does not contain physical, chemical, biological or other terms which would properly fall within the coverage domains of the special sciences. BFO is used by more than 250 ontology-driven endeavors throughout the world.            </p>
            <ul style = "list-style: none;">
              <li><i class="bx bx-caret-right"></i>The BFO project was initiated in 2002 under the auspices of the project <em>Forms of Life</em> sponsored by the <a href="https://www.volkswagenstiftung.de/en/funding/key-results-from-the-humanities/forms-of-life.html">Volkswagen Foundation</a>.
                The theory behind BFO was developed first by <a href="http://ontology.buffalo.edu/smith">Barry Smith</a> and <a href="http://www.uni-saarland.de/~pgrenon">Pierre Grenon</a> and presented in a series of publications listed <a href="publications.html">here</a>.</li>
              <li><i class="bx bx-caret-right" style = "padding-top: 8px"></i>Since then major contributions to BFO have been made above all by <a href="http://sciencecommons.org/about/whoweare/ruttenberg">Alan Ruttenberg</a>, also by many others, including:
                <br>
                <br>
                <table>
                  <td>
                    <ul style = "list-style: none;">
                      <li><i class="bx bx-chevron-right"></i><a href="http://dbmi.uams.edu/faculty/mathias-brochhausen-ph-d">Mathias Brochhausen</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.referent-tracking.com/RTU/?page=ceusters_vita">Werner Ceusters</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://ca.linkedin.com/in/mcourtot">Melanie Courtot</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.philosophy.buffalo.edu/people/faculty/dipert">Randall Dipert</a></li>
                    </ul>
                  </td>
                  <td>
                    <ul style = "list-style: none;">
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.ebi.ac.uk/~hastings">Janna Hastings</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.fruitfly.org/~cjm">Chris Mungall</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.fabian-neuhaus.de">Fabian Neuhaus</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://pir.georgetown.edu/pirwww/aboutpir/natalebio.shtml">Darren Natale</a></li>
                    </ul>
                  </td>
                  <td>
                    <ul style = "list-style: none;">
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.jneilotte.com">Neil Otte</a>
                      <li><i class="bx bx-chevron-right"></i><a href="http://james.overton.ca">James Overton</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.liai.org/pages/faculty-peters">Bjoern Peters</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://org.buffalo.edu/rarp/rudnicki_vita.html">Ron Rudnicki</a></li>
                    </ul>
                  </td>
                  <td>
                    <ul style = "list-style: none; padding-bottom: 10px;">
                      <li><i class="bx bx-chevron-right"></i><a href="http://purl.org/steschu">Stefan Schulz</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://seljaseppala.wordpress.com">Selja Sepp&auml;l&auml;</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://purl.org/holger">Holger Stenzhorn</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://cbil.upenn.edu/profile-staff_bio/39">Jie Zheng</a></li>
                    </ul>
                  </td>
                </table>
              </li>
              <li>...and by more than a hundred other members of the <a href="http://groups.google.com/group/bfo-discuss">BFO Discussion Group</a>.</li>
              <li style ="padding-top: 10px;">To access BFO in Portuguese, click <a href = 'https://mba.eci.ufmg.br/legal/bfo-pt/'>here</a>.</li>
            </ul>
          </div>
        </div>
      </div>

  </div>
</div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row justify-content-center" style = "padding-top:5px;">

          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="bi bi-person"></i>
              <span data-purecounter-start="0" data-purecounter-end="61" data-purecounter-duration="1" class="purecounter"></span>
              <p>Users</p>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="bi bi-archive"></i>
              <span data-purecounter-start="0" data-purecounter-end="456" data-purecounter-duration="1" class="purecounter"></span>
              <p>BFO Conformant Ontologies</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bx bx-list-plus"></i>
              <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
              <p>ISO Standard</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Tutorials</h2>
          <p>Learn More About BFO by Clicking Any Headings Below</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class='bx-fw bx bxl-youtube'></i>
              <h4><a href="https://www.youtube.com/user/hxo3nql/playlists">Barry Smith's Youtube Channel</a></h4>
              <p>Contains a collection of BFO lectures and videos.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box">
              <i class='bx-fw bx bx-globe'></i>
              <h4><a href="https://www.iso.org/standard/74572.html">ISO/IEC 21838 Information technology — Top-level ontologies (TLO)</a></h4>
              <p>The International Organization for Standardization and the International Electrotechnical Commission Standards for <a href="https://www.iso.org/standard/71954.html">TLOs</a> and documentation of <a href="https://www.iso.org/standard/74572.html">BFO conformance</a>.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box">
              <i class='bx-fw bx bx-book-bookmark'></i>
              <h4><a href="https://mitpress.mit.edu/9780262527811/building-ontologies-with-basic-formal-ontology/">BFO Textbook Published by MIT Press</a></h4>
              <p>An introduction to the field of applied ontology with examples derived particularly from biomedicine, covering theoretical components, design practices, and practical applications.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box">
              <i class='bx-fw bx bxl-wikipedia'></i>
              <h4><a href="https://ncorwiki.buffalo.edu/index.php/Tutorial_on_Basic_Formal_Ontology">NCOR BFO Tutorial</a></h4>
              <p>The National Center for Ontological Research's BFO Overview. The <a href="https://ncorwiki.buffalo.edu/index.php/Main_Page">NCOR Wiki</a> is also full of useful resources.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box">
              <i class='bx-fw bx bx-search-alt'></i>
              <h4><a href="https://www.ebi.ac.uk/ols/ontologies/bfo">OLS Ontology Search - BFO</a></h4>
              <p><a href="https://www.ebi.ac.uk/ols/index">The Ontology Lookup Service (OLS)</a> is a repository for biomedical ontologies that aims to provide a single point of access to the latest ontology versions.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box">
              <i class='bx-fw bx bx-data'></i>
              <h4><a href="http://aber-owl.net/ontology/BFO/#/Overview">AberOWL BFO Page</a></h4>
              <p>AberOWL is a web-based ontology repository front end that facilitates SPARQL and DL querying without prior user configuration.</p>
            </div>
          </div>
          
          <br>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Whats New Section ======= -->
    <section id="whats-new" class="whats-new">
      <div class="container">
        <div class = "section-title" style = "margin-top: 15px;"> 
          <h2>Recent Publications</h2>

        </div>
          <div class = "section-title">
            <table id="example" class="row-border stripe"></table>

          </div>
            
          </div>

      </div>
    </section><!-- END What's new-->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" style = "margin-top:30px;">
          <h2>Team</h2>
          <p>Learn more about the core BFO team.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-center">
            <div class="member">
              <img src="../assets/img/barryheadshot.jpg" alt="">
              <h4>Barry Smith</h4>
              <h2></h2>
              <h6>Director at National Center for Ontological Research (NCOR) and Professor of Philosophy, University at Buffalo</h6>
              
              <div class="social">
                <a href="http://ontology.buffalo.edu/smith/"><i class="bi bi-window"></i></a>
                <a href="http://scholar.google.com/citations?hl=en&user=icGNWj4AAAAJ&view_op=list_works&pagesize=100"><i class="bi bi-book"></i></a>
                <a href="https://www.linkedin.com/in/phismith/"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.youtube.com/c/BarrySmithOntology"><i class="bi bi-youtube"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-center">
            <div class="member">
              <img src="../assets/img/johnheadshot.png" alt="">
              <h4>John Beverley</h4>
              <h2></h2>
              <h2></h2>
              <h6>Assistant Professor at SUNY Buffalo</h6>
              <br>
              <div class="social">
                <a href="https://github.com/johnbeve"><i class="bi bi-github"></i></a>
                <a href="https://johnbeverley.com/"><i class="bi bi-window"></i></a>
                <a href="https://www.researchgate.net/profile/John-Beverley-2"><i class="bi bi-book"></i></a>
                <a href="https://www.linkedin.com/in/john-beverley-869445a0/"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCedggVqqhabNx0thV_K9WBA"><i class="bi bi-youtube"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-center">
            <div class="member">
              <img src="../assets/img/alanheadshot.jpg" alt="">
              <br>
              <br>
              <h4>Alan Ruttenberg</h4>
              <h2></h2>
              <h2></h2>
              <h6>Senior Research Associate, Department of Philosophy, University at Buffalo</h6>
              <br>
              <div class="social">
                <a href="https://github.com/alanruttenberg"><i class="bi bi-github"></i></a>
                <a href="https://scholar.google.com/citations?user=tIcr1AkAAAAJ&hl=en"><i class="bi bi-book"></i></a>
                <a href="https://www.linkedin.com/in/alanruttenberg/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">
      <div class="social-links text-center text-md-right pt-3 pt-md-2 ">
        <a href="https://github.com/bfo-ontology/BFO/wiki" class="github d-flex align-items-center justify-content-center"><i class="bi bi-github"></i></a>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      </div>
      <br>
      <div class="social-links text-center text-md-right pt-3 pt-md-2 ">
        <h6 style="margin-left: 20px; margin-top:10px;">Last Updated On: 01/16/23</h6>
      </div>
    </div>

  </footer><!-- End Footer -->


  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Table scripts -->
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>