<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Basic Formal Ontology</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!--BoxIcons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- data tables-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
  var dataSet = {{array_data|tojson}} 
  $(document).ready(function () {
  $('#example').DataTable({
      data: dataSet,
      columns: [
          { title: 'Author' },
          { title: 'Title' },
          { title: 'Date' },
          { title: 'Publication' },
          { title: 'Link',
          "render": function(data, type, row, meta){
            if(type === 'display'){
                data = '<a href="' + data + '">' + data + '</a>';
            }

            return data;
         }},
         
      ],
      order: [[2, 'desc']],
      "pageLength": 5,
      lengthMenu: [5, 10, 25, 50, 100, 200]
  });
  });
  </script>
  <!-- =======================================================
  * Template Name: Lumia - v4.9.1
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="#hero">Basic Formal Ontology</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Tutorials</a></li>
          <li><a class="nav-link scrollto" href = "#whats-new"><span>What's New</span></a></li>
          <li class="dropdown"><a href="/publications-full"><span>Publications</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="/publications-full#portfolio">General</a></li>
              <li><a href="/publications-full#testimonials">First Order Logic (FOL)</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href = "#team"><span>Team</span></a></li>
          <li><a class="nav-link scrollto" href="https://mitpress.mit.edu/9780262527811/building-ontologies-with-basic-formal-ontology/">Guidebook</a></li>
          <li><a class="nav-link scrollto" href="https://github.com/bfo-ontology/BFO/wiki">Github</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <a href="https://github.com/bfo-ontology/BFO/wiki" class="github"><i class="bi bi-github"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1><span>Basic Formal Ontology (BFO)</span></h1>
      <h2>A Genuine Upper-Level Ontology</h2>
      <a href="#whats-new" class="btn-get-started scrollto">What's New?</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
    <br>
    <br>
    <br>
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="../assets/img/dude-holding-models.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>About Us</h3>
            <p>
              The Basic Formal Ontology (BFO) is a small, upper level ontology that is designed for use in supporting information retrieval, analysis and integration in scientific and other domains. BFO is a genuine upper ontology. Thus it does not contain physical, chemical, biological or other terms which would properly fall within the coverage domains of the special sciences. BFO is used by more than 250 ontology-driven endeavors throughout the world.            </p>
            <ul>
              <li><i class="bx bx-caret-right"></i>The BFO project was initiated in 2002 under the auspices of the project <em>Forms of Life</em> sponsored by the <a href="https://www.volkswagenstiftung.de/en/funding/key-results-from-the-humanities/forms-of-life.html">Volkswagen Foundation</a>.
                The theory behind BFO was developed first by <a href="http://ontology.buffalo.edu/smith">Barry Smith</a> and <a href="http://www.uni-saarland.de/~pgrenon">Pierre Grenon</a> and presented in a series of publications listed <a href="publications.html">here</a>.</li>
              <li><i class="bx bx-caret-right"></i>Since then major contributions to BFO have been made above all by <a href="http://sciencecommons.org/about/whoweare/ruttenberg">Alan Ruttenberg</a>, also by many others, including:
                <br>
                <br>
                <table>
                  <td>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i><a href="http://dbmi.uams.edu/faculty/mathias-brochhausen-ph-d">Mathias Brochhausen</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.referent-tracking.com/RTU/?page=ceusters_vita">Werner Ceusters</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://ca.linkedin.com/in/mcourtot">Melanie Courtot</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.philosophy.buffalo.edu/people/faculty/dipert">Randall Dipert</a></li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.ebi.ac.uk/~hastings">Janna Hastings</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.fruitfly.org/~cjm">Chris Mungall</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.fabian-neuhaus.de">Fabian Neuhaus</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://pir.georgetown.edu/pirwww/aboutpir/natalebio.shtml">Darren Natale</a></li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.jneilotte.com">Neil Otte</a>
                      <li><i class="bx bx-chevron-right"></i><a href="http://james.overton.ca">James Overton</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://www.liai.org/pages/faculty-peters">Bjoern Peters</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://org.buffalo.edu/rarp/rudnicki_vita.html">Ron Rudnicki</a></li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i><a href="http://purl.org/steschu">Stefan Schulz</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://seljaseppala.wordpress.com">Selja Sepp&auml;l&auml;</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://purl.org/holger">Holger Stenzhorn</a></li>
                      <li><i class="bx bx-chevron-right"></i><a href="http://cbil.upenn.edu/profile-staff_bio/39">Jie Zheng</a></li>
                    </ul>
                  </td>
                </table>
              </li>
              <li>...and by more than a hundred other members of the <a href="http://groups.google.com/group/bfo-discuss">BFO Discussion Group</a>.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class = "container">
        <div class="row align-items-center">
          <div class = "col">
          <h4>External Links:</h4>
          <h5><i class="bx lg bxl-youtube"></i><a href="https://www.youtube.com/channel/UC8rDbmRGP6A2bs6tn0AOErQ"> BFO YouTube Channel</a></h5>
          <h5><i class="bx lg bx-message-rounded-detail"></i><a href="https://groups.google.com/forum/#!forum/bfo-discuss"> BFO User Forums</a></h5>
          <h5><i class="bx lg bx-book-bookmark"></i><a href="https://mitpress.mit.edu/9780262527811/building-ontologies-with-basic-formal-ontology/"> BFO Textbook Published by MIT Press</a></h5>
          <h5><i class="bx lg bx-tag-alt"></i><a href="https://mba.eci.ufmg.br/legal/bfo-pt/"> BFO in Portuguese</a></h5>
      </div>
    </div>
  </div>
</div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container">

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">PHP <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">WordPress/CMS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Users</p>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>BFO Conformant Ontologies</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Standards</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Tutorials</h2>
          <p>Learn More About BFO by Clicking Any Headings Below</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class='bx-fw bx bxl-youtube'></i>
              <h4><a href="https://www.youtube.com/user/hxo3nql/playlists">Barry Smith's Youtube Channel</a></h4>
              <p>Contains a collection of BFO lectures and videos.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box">
              <i class='bx-fw bx bx-globe'></i>
              <h4><a href="https://www.iso.org/standard/74572.html">ISO/IEC 21838 Information technology — Top-level ontologies (TLO)</a></h4>
              <p>The International Organization for Standardization and the International Electrotechnical Commission Standards for <a href="https://www.iso.org/standard/71954.html">TLOs</a> and documentation of <a href="https://www.iso.org/standard/74572.html">BFO conformance</a>.</p>
            </div>
          <br>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= What We Do Section ======= -->
    <section id="whats-new" class="whats-new">
      <div class="container">
        <div class = "section-title"> 
          <h2>Recent Publications</h2>
          <h4>Click the button below to scrape <a href='https://philpapers.org/'>PhilPapers.org</a> and <a href='https://www.scilit.net/'>SciLit.net</a> for the newest publications involving BFO.</h4>
          <br>
          <h5>When you click the button, a seperate browser window will open and close automatically - do not be alarmed!</h5>
          <br>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Check for New Publications!</a></p>
        </div>
          <div class = "section-title">
            <table id="example" class="display" width="100%"></table>
          </div>
            
          </div>

      </div>
    </section><!-- End What We Do Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Learn more about the core BFO team.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-center">
            <div class="member">
              <img src="../assets/img/barryheadshot.jpg" alt="">
              <h4>Barry Smith</h4>
              <h2></h2>
              <h6>Director at National Center for Ontological Research (NCOR) and Professor of Philosophy, University at Buffalo</h6>
              
              <div class="social">
                <a href="http://ontology.buffalo.edu/smith/"><i class="bi bi-window"></i></a>
                <a href="http://scholar.google.com/citations?hl=en&user=icGNWj4AAAAJ&view_op=list_works&pagesize=100"><i class="bi bi-book"></i></a>
                <a href="https://www.linkedin.com/in/phismith/"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.youtube.com/c/BarrySmithOntology"><i class="bi bi-youtube"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-center">
            <div class="member">
              <img src="../assets/img/johnheadshot.png" alt="">
              <h4>John Beverley</h4>
              <h2></h2>
              <h2></h2>
              <h6>Assistant Professor at SUNY Buffalo</h6>
              <br>
              <div class="social">
                <a href="https://github.com/johnbeve"><i class="bi bi-github"></i></a>
                <a href="https://johnbeverley.com/"><i class="bi bi-window"></i></a>
                <a href="https://www.researchgate.net/profile/John-Beverley-2"><i class="bi bi-book"></i></a>
                <a href="https://www.linkedin.com/in/john-beverley-869445a0/"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCedggVqqhabNx0thV_K9WBA"><i class="bi bi-youtube"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-center">
            <div class="member">
              <img src="../assets/img/alanheadshot.jpg" alt="">
              <br>
              <br>
              <h4>Alan Ruttenberg</h4>
              <h2></h2>
              <h2></h2>
              <h6>Senior Research Associate, Department of Philosophy, University at Buffalo</h6>
              <br>
              <div class="social">
                <a href="https://github.com/alanruttenberg"><i class="bi bi-github"></i></a>
                <a href="https://scholar.google.com/citations?user=tIcr1AkAAAAJ&hl=en"><i class="bi bi-book"></i></a>
                <a href="https://www.linkedin.com/in/alanruttenberg/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">
      <div class="social-links text-center text-md-right pt-3 pt-md-2 ">
        <a href="https://github.com/bfo-ontology/BFO/wiki" class="github d-flex align-items-center justify-content-center"><i class="bi bi-github"></i></a>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      </div>
    </div>

  </footer><!-- End Footer -->


  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Table scripts -->
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>