<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Publications</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v4.9.1
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="../#hero">Basic Formal Ontology</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="../#hero">Home</a></li>
          
          <li><a class="nav-link scrollto" href = "../#whats-new"><span>What's New</span></a></li>
          <li><a class="nav-link scrollto" href = "#portfolio"><span>Publications</span></a></li>
          <li><a class="nav-link scrollto" href="#testimonials">FOL</a></li>
          <li><a class="nav-link scrollto" href="https://mitpress.mit.edu/9780262527811/building-ontologies-with-basic-formal-ontology/">Guidebook</a></li>
          <li><a class="nav-link scrollto" href="https://github.com/bfo-ontology/BFO/wiki">Github</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <a href="https://github.com/bfo-ontology/BFO/wiki" class="github"><i class="bi bi-github"></i></a>
      </div>

    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Portfolio Section ======= -->

    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <br>
          <br>
          <h2>Publications - General</h2>
          <p>Click any title of interest to view the publication.</p>
        </div>

        <h4 class="bg-light p-2 border-top border-bottom">Books</h4>
        <ul class="list-group list-group-flush mb-4">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1"><a href="https://mitpress.mit.edu/9780262527811/building-ontologies-with-basic-formal-ontology/">Building Ontologies With Basic Formal Ontology</a>, MIT Press, 2015</h6>
                <p class="text-muted mb-0">Robert Arp, Barry Smith and Andrew Spear</p>
              </div>
            </div>
          </li>
        </ul>
        <h4 class="bg-light p-2 border-top border-bottom">Articles</h4>
        <ul class="list-group list-group-flush mb-4">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="http://ontology.buffalo.edu/smith/articles/Functions-in-BFO.pdf">Functions in Basic Formal Ontology</a>", Applied Ontology, 11:2 (2016), 103-128</h6>
                <p class="text-muted mb-0">Andrew Spear, Werner Ceusters and Barry Smith</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="http://ontology.buffalo.edu/smith/articles/fois2014.pdf">Applying the Realism-Based Ontology-Versioning Method for Tracking Changes in the Basic Formal Ontology</a>", Formal Ontology in Information Systems. Proceedings of the Sixth International Conference (FOIS 2014), IOS Press, 2014, 227-240</h6>
                <p class="text-muted mb-0">Selja Seppälä, Barry Smith and Werner Ceusters</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="http://ontology.buffalo.edu/smith/articles/Classifying_Processes.pdf">Classifying Processes: An Essay in Applied Ontology</a>", Ratio, 25:4 (2012), 463-488</h6>
                <p class="text-muted mb-0">Barry Smith</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="https://philpapers.org/archive/SMIOCM.pdf">On Classifying Material Entities in Basic Formal Ontology</a>", Interdisciplinary Ontology. Proceedings of the Third Interdisciplinary Ontology Meeting, Tokyo: Keio University Press, 2012, 1-13</h6>
                <p class="text-muted mb-0">Barry Smith</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="https://bit.ly/2JAmwfn">A Method for Evaluating Ontologies - Introducing the BFO-Rigidity Decision Tree Wizard</a>", Formal Ontology in Information Systems (FOIS 2012), DOI:10.3233/978-1-61499-084-0-191</h6>
                <p class="text-muted mb-0">Patrice Seyed and Stuart Shapiro</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="http://ontology.buffalo.edu/ido/Dispositions_and_IDO.pdf">Dispositions and the Infectious Disease Ontology</a>", Ontology in Information Systems. Proceedings of the Sixth International Conference (FOIS 2010), IOS Press, 2010, 400-413</h6>
                <p class="text-muted mb-0">Albert Goldfain, Barry Smith and Lindsay Cowell</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="https://philpapers.org/rec/TREAAO">An Axiomatisation of Basic Formal Ontology with Projection Functions</a>", Advances in Ontologies, Proceedings of the Sixth Australasian Ontology Workshop (AOW 2010), ACS, 2010, 71-80</h6>
                <p class="text-muted mb-0">Kerry Trentelman, Barry Smith</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="http://ontology.buffalo.edu/smith/articles/SNAP_SPAN.pdf">SNAP and SPAN: Towards Dynamic Spatial Ontology</a>", Spatial Cognition and Computation, 4: 1 (March 2004), 69-103</h6>
                <p class="text-muted mb-0">Pierre Grenon and Barry Smith</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="http://ontology.buffalo.edu/medo/biodynamic.pdf">Biodynamic Ontology: Applying BFO in the Biomedical Domain</a>", in D. M. Pisanelli (ed.), Ontologies in Medicine: Proceedings of the Workshop on Medical Ontologies, Rome October 2003 (Studies in Health and Technology Informatics, 102), Amsterdam: IOS Press, 2004, 20-38.</h6>
                <p class="text-muted mb-0">Pierre Grenon, Barry Smith and Louis Goldberg</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="http://ontology.buffalo.edu/smith/articles/BFO_for_bioinformatics.pdf">Basic Formal Ontology for Bioinformatics</a>", IFOMIS Reports, 2005.</h6>
                <p class="text-muted mb-0">Barry Smith, Anand Kumar, Thomas Bittner</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="https://www.sciencedirect.com/science/article/pii/S1386505605001309">Formal ontology for natural language processing and the integration of biomedical databases</a>", International Journal of Medical Informatics, Volume 75, Issues 3–4, March–April 2006, Pages 224-231</h6>
                <p class="text-muted mb-0">Jonathann Simon, Mariana Dos Santos, James Fielding, Barry Smith</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="https://www.thieme-connect.com/products/ejournals/abstract/10.3414/ME9302">Putting Biomedical Ontologies to Work</a>",  Methods of information in medicine, 2010</h6>
                <p class="text-muted mb-0">Barry Smith, M. Brochhausen</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">"<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1560467/">A Strategy for Improving and Integrating Biomedical Ontologies</a>", AMIA Annu Symp Proc. 2005; 2005: 639–643</h6>
                <p class="text-muted mb-0">Cornelius Rosse, Anand Kumar, Jose L.V. Mejino Jr, Daniel L. Cook, et al</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1"> "<a href="https://books.google.com/books?hl=en&lr=&id=Hul-VBfW3LcC&oi=fnd&pg=PA68&dq=%22Basic+Formal+Ontology%22&ots=k4NHpFgLn_&sig=yYrHcHliGtWNRzGsfCD-BJ09WHI">An information artifact ontology perspective on data collections and associated representational artifacts</a>", MIE, 2012</h6>
                <p class="text-muted mb-0">Werner Ceusters</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1"> "<a href="https://www.researchgate.net/profile/Christopher_Seebregts2/publication/30511023_Integration_of_SNOMED_CT_into_the_OpenMRS_electronic_medical_record_system_framework/links/02bfe50de830584300000000.pdf#page=118">Aligning the top-level of SNOMED-CT with Basic Formal Ontology</a>", KR-MED, 2008</h6>
                <p class="text-muted mb-0">William R. Hogan</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1"> "<a href="https://www.sciencedirect.com/science/article/pii/S1386505607000408">Negative findings in electronic health records and biomedical ontologies: A realist approach</a>", International journal of medical informatics, 2007</h6>
                <p class="text-muted mb-0">Werner Ceusters, Peter Elkin, Barry Smith</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1"> "<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmc3104298/">A unified framework for biomedical terminologies and ontologies</a>", Studies in Health Technology and Informatics, 2010</h6>
                <p class="text-muted mb-0">Werner Ceusters, Barry Smth</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1"> "<a href="https://www.researchgate.net/profile/Barry_Smith4/publication/6688492_Referent_Tracking_The_Problem_of_Negative_Findings/links/0deec53b8895b1c55a000000/Referent-Tracking-The-Problem-of-Negative-Findings.pdf">Referent tracking: The problem of negative findings</a>", Studies in Health Technology and Informatics, 2010</h6>
                <p class="text-muted mb-0">Werner Ceusters, Peter Elkin, Barry Smith</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1"> "<a href="https://www.researchgate.net/profile/Selja_Seppaelae/publication/288184632_Mapping_WordNet_to_Basic_Formal_Ontology_using_the_KYOTO_ontology/links/567f3c2908ae1e63f1e7f876/Mapping-WordNet-to-Basic-Formal-Ontology-using-the-KYOTO-ontology.pdf">Mapping WordNet to the Basic Formal Ontology using the KYOTO ontology</a>", ICBO 2015</h6>
                <p class="text-muted mb-0">Selja Seppälä</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1"> "<a href="https://fada.birzeit.edu/jspui/bitstream/20.500.11889/5227/1/JC17.pdf">Classifying Processes and Basic Formal Ontology</a>"</h6>
                <p class="text-muted mb-0">Mustafa Jarrar and Werner Ceusters</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1"> "<a href="https://link.springer.com/content/pdf/10.1007/978-3-642-21034-1_22.pdf">The Use of Foundational Ontologies in Ontology Development: An Empirical Assessment</a>"</h6>
                <p class="text-muted mb-0">C. Maria Keet</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">  "<a href="http://www.sciencedirect.com.gate.lib.buffalo.edu/science/article/pii/S153204641730120X#gr3">An empirical analysis of ontology reuse in BioPortal</a>"</h6>
                <p class="text-muted mb-0">Christopher Ochs, Yehoshua Perl, James Geller, Sivaram Arabandi, TaniaTudorache, Mark A.Musen</p>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-0">
                <h6 class="fw-bold mb-1">  “<a href="https://www.ncbi.nlm.nih.gov/pubmed/20841847">Mapping BFO and DOLCE</a>,” Studies in Health Technology and Informatics, vol. 160, pp. 1065–1069, 2010.</h6>
                <p class="text-muted mb-0">L. Temal, A. Rosier, O. Dameron and A. Burgun</p>
              </div>
            </div>
          </li>
        </ul>

   

        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>First Order Logic (FOL)</h2>
          <p>One result of the preparation of the new ISO/IEC 21838-2 standard version of BFO is the first-order logic axiomatization of BFO, which is now available in compiled form <a href="https://buffalo.box.com/v/BFO-2020-FOL">here</a>. A version of these axioms in <a href="https://en.wikipedia.org/wiki/Common_Logic">Common Logic</a> syntax, together with consistency proofs and other material, is available on the ISO Standards Maintenance Portal <a href="https://standards.iso.org/iso-iec/21838/-2/ed-1/en">here</a>.</p>
          <br>
          <p>All files are available under a Creative Commons “Attribution 4.0 International” license.</p>
          <br>
          <p>An earlier FOL axiomatization of BFO, using the Isabelle language, is still available <a href="http://www.acsu.buffalo.edu/~bittner3/Theories/BFO">here</a>.<a href="http://krr.meraka.org.za/~aow2010/Trentelman-etal.pdf"> This paper</a> describes an axiomatization of BFO using projection functions. Other papers relevant to the first-order logic formalization of BFO are listed below.</p>
        </div>

          <ul class="list-group list-group-flush mb-0">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://web.me.com/tbittner1/BittnerProfessional/Publications_files/Bittner-NA-2006-28.pdf">A Spatio-Temporal Top-Level Ontology for Geographic Information Processing, in Technical report, Department of Philosophy, SUNY Buffalo. 2007.</a></h6>
                  <p class="text-muted mb-0">Bittner, T., M. Donnelly, and B. Smith</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://www.acsu.buffalo.edu/~bittner3/BittnerQR2007.pdf">A formal theory of parthood, connectedness, and qualitative size and distance relations among anatomical entities, In C. Price, editor, Proc. of the 21st Annual Workshop on Qualitative Reasoning (QR07), 2007.</a></h6>
                  <p class="text-muted mb-0">Bittner, T. and M. Donnelly</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://www.acsu.buffalo.edu/~bittner3/BittnerDonnellyFOIS06.pdf">A theory of granular parthood based on qualitative cardinality and size measures. in Proceedings of the fourth International Conference on Formal Ontology in Information Systems, FOIS06. 2006.</a></h6>
                  <p class="text-muted mb-0">Bittner, T. and M. Donnelly</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://www.acsu.buffalo.edu/~bittner3/BittnerDonnellyAAAI2007.pdf">A temporal mereology for distinguishing between integral objects and portions of stuff. In R. Holte and A. Howe (eds.), Proceedings of the Twenty-Second AAAI Conference on Artificial Intelligence (AAAI-07).</a></h6>
                  <p class="text-muted mb-0">Bittner, T. and M. Donnelly</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1560437/?tool=pubmed">Containment relations in anatomical ontologies, in AIMA Annual Symposium Proceedings. 2005. p. 206-210.</a></h6>
                  <p class="text-muted mb-0">Donnelly, M.</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://www.mendeley.com/research/spatial-relations-between-classes-of-individuals/">Spatial relations between classes of individuals. in Spatial Information Theory. Cognitive and Computational Foundations of Geographic Information Science. International Conference (COSIT 2005). 2005: Springer Verlag.</a></h6>
                  <p class="text-muted mb-0">Donnelly, M. and T. Bittner</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://web.me.com/tbittner1/BittnerProfessional/Publications_files/Endurants%20and%20perdurants%20in%20directly%20depicting%20ontologies.pdf">Endurants and Perdurants in Directly Depicting Ontologies. AI Communications, 2004. 14(4): p. 247-258.</a></h6>
                  <p class="text-muted mb-0">Bittner, T., M. Donnelly, and B. Smith</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://basic-formal-ontology.org/documents/IR-0303_Donnelly.pdf">On Parts and Holes: The Spatial Structure of the Human Body. in Proceedings of the 11th World Congress on Medical Informatics (MedInfo-04). 2004.</a></h6>
                  <p class="text-muted mb-0">Donnelly, M.</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://genomebiology.com/2005/6/5/R46">Relations in Biomedical Ontologies. Genome Biology, 2005. 6(5): p. r46.</a></h6>
                  <p class="text-muted mb-0">Smith, B., et al.</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://ontology.buffalo.edu/medo/biodynamic.pdf">Biodynamic Ontology: Applying <em>BFO</em> in the Biomedical Domain. in Ontologies in Medicine: Proceedings of the Workshop on Medical Ontologies. 2003: IOS Press, Amsterdam.</a></h6>
                  <p class="text-muted mb-0">Grenon, P., B. Smith, and L. Goldberg</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://ontology.buffalo.edu/smith/articles/SNAP_SPAN.pdf">SNAP and SPAN: Towards Dynamic Spatial Ontology. Spatial Cognition and Computation, 2004. 4(1): p. 69--103.</a></h6>
                  <p class="text-muted mb-0">Grenon, P. and B. Smith</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-0">
                  <h6 class="fw-bold mb-1"><a href="http://ontology.buffalo.edu/smith/articles/cornucopia.pdf">The Cornucopia of Formal-Ontological Relations, in Dialectica 58: 3 (2004), 279–296.</a></h6>
                  <p class="text-muted mb-0">Smith, B. and P. Grenon</p>
                </div>
              </div>
            </li>
          </ul>
      </div>
    </section><!-- End Testimonials Section -->



  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 <footer id="footer">

  <div class="container d-md-flex py-4">
    <div class="social-links text-center text-md-right pt-3 pt-md-2 ">
      <a href="https://github.com/bfo-ontology/BFO/wiki" class="github d-flex align-items-center justify-content-center"><i class="bi bi-github"></i></a>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    </div>
  </div>

</footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>